---
// Stuff
import Spacer from "../ui/Spacer.astro";
import TeamContainer from "../team/TeamContainer.astro";
import TeamButton from "../team/TeamButton.astro";
---

<section id="Team" aria-label="Meet The Team Section">
  <!-- Wave Shape And Heading Text -->
  <Spacer title="Meet The Team!" color="yellow" />
  <!-- Content -->
  <div
    class="flex flex-col items-center gap-y-10 px-2 py-5 md:gap-y-12 lg:px-5"
  >
    <TeamContainer team="" />
    <TeamButton year="2022-2023" />
  </div>
</section>
