---
import Spacer from "./ui/Spacer.astro";

import EventsContent from "./events/EventsContent.svelte";
---

<section id="Events" aria-label="Recent Events Section">
  <!-- Wave Shape And Heading Text -->
  <Spacer title="Most Recent Events 📚" color="blue" page={false} />
  <!-- Content -->
  <EventsContent client:only="svelte" />
</section>
