---
import { Icon } from "astro-icon";
---

<span class="inline-flex gap-x-4">
  <a
    href="https://twitter.com/GDSC_YU"
    target="_blank"
    rel="noreferrer"
    aria-label="Our Twitter Account"
    class="hover:text-twitter-blue"
  >
    <Icon name="fa:twitter" />
  </a>
  <a
    href="https://www.instagram.com/GDSC_YU/"
    target="_blank"
    rel="noreferrer"
    aria-label="Our Instagram Account"
    class="hover:text-dark-pink"
  >
    <Icon name="fa:instagram" />
  </a>
  <a
    href="https://github.com/GDSC-YU"
    target="_blank"
    rel="noreferrer"
    aria-label="Our GitHub Org"
    class="hover:text-github-purple"
  >
    <Icon name="fa:github" />
  </a>
  <a
    href="https://linkedin.com/company/gdsc-yu"
    target="_blank"
    rel="noreferrer"
    aria-label="Our LinkedIn Page"
    class="hover:text-linkedin-blue"
  >
    <Icon name="fa:linkedin-square" />
  </a>
</span>

<style>
  a {
    @apply transition duration-300 ease-in-out;
  }
  svg {
    @apply h-6 w-6;
  }
</style>
