---
interface Props {
  title: string;
  color: string;
}

const { title, color } = Astro.props;
---

<div>
  {/* top layer */}
  <div class={`spacer ${color}-layer1`}></div>
  {/* middle layer */}
  <div class={`bg-google-${color} flex justify-between p-2 text-white`}>
    {/* title */}
    <h1 class="w-full px-2 text-center text-4xl font-bold md:text-5xl">
      {title}
    </h1>
    {/* middle layer end */}
  </div>
  {/* bottom layer */}
  <div class={`spacer ${color}-layer2`}></div>
</div>
